{% extends "layout.njk" %}

{% block head %}

    <title> Pedro Mariutti </title>

{% endblock %}

{% block content %}

    <div id="wrapper">
        <img src="img/EuT1.jpg" alt="Pedro">
        <h1>Pedro Mariutti</h1>
        <h2>Programador full-stack </h2>
        <p>Texto teste aqui, para edição da página. Aprendendo programção com a <a href="https://rocketseat.com.br/ "
                target="_blank"> Rocketseat </a> </p>
    </div>
    <div class="links" id="footer">
        <a href="/" target="_blank"> Github </a>
        <a href="/" target="_blank"> Linkedin </a>
        <a href="/" target="_blank"> Instagram </a>
    </div>

{% endblock %}

