<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">

    
{% block head %}
<title> Pedro Mariutti </title>
{% endblock %}

</head>

<body>
    <header>

        <div class="links">
            <a href="/about"> Sobre </a>
            <a href="/filmes"> Filmes </a>
        </div>

    </header>
    
{% block content %}{% endblock %}

</body>

</html>


